<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ck.multimoduledao.mapper.UploadFileMapper" >
    <!--新增附件信息-->
    <insert id="saveForm" parameterType="com.ck.multimoduledao.entity.UploadFile">
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO `m_fnd_upload`(`file_name`, `file_type`, `file_size`, `file_path`, `s_cid`, `s_ct`, `s_uid`, `s_ut`)
        VALUES
        (#{fileName,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR}, #{fileSize,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR},
        #{creationBy, jdbcType=BIGINT}, #{creationDate, jdbcType=TIMESTAMP}, #{updatedBy, jdbcType=BIGINT}, #{updatedDate, jdbcType=TIMESTAMP})
    </insert>
    <!--删除附件表中附件信息-->
    <delete id="deleteForm" parameterType="java.lang.Long">
        DELETE FROM m_fnd_upload WHERE id = #{id, jdbcType=BIGINT}
    </delete>
    <!--失效附件表中附件信息-->
    <update id="updateToDisableByRefId" parameterType="com.ck.multimoduledao.entity.UploadFile">
        UPDATE m_fnd_upload SET enable_flag = 'N',s_uid = #{updatedBy, jdbcType=BIGINT},s_ut = #{updatedDate, jdbcType=TIMESTAMP} WHERE ref_id = #{id, jdbcType=BIGINT}
    </update>
    <!--根据id查询附件的信息-->
    <select id="findDetailById" parameterType="java.lang.Long" resultType="com.ck.multimoduledao.entity.UploadFile">
        SELECT
            file_name AS fileName,
            file_type AS fileType,
            file_size AS fileSize,
            file_path AS filePath,
            ref_table AS refTable,
            ref_id AS refId
        FROM m_fnd_upload up
        WHERE up.enable_flag = 'Y'
            AND up.id = #{id, jdbcType=BIGINT}
    </select>
    <!--更新附件信息-->
    <update id="updateForm" parameterType="com.ck.multimoduledao.entity.UploadFile">
        UPDATE m_fnd_upload
        <set>
            <if test="fileName != null and fileName != ''">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="fileType != null and fileType != ''">
                file_type = #{fileType,jdbcType=VARCHAR},
            </if>
            <if test="fileSize != null and fileSize != ''">
                file_size = #{fileSize,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null and filePath != ''">
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="refId != null and refId != ''">
                ref_id = #{refId,jdbcType=BIGINT},
            </if>
            <if test="refTable != null and refTable != ''">
                ref_table = #{refTable,jdbcType=VARCHAR},
            </if>
            s_uid = #{updatedBy, jdbcType=BIGINT},
            s_ut = #{updatedDate, jdbcType=TIMESTAMP}
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>
</mapper>

