<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>页面出错了</title>
    <style type="text/css">
		body{background: rgb(244,244,244);}
		.container{
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			transform: translate(-50%, -75%);
		}
		.btn{
			display:inline-block;
			margin-top:100px;
			width: 180px;
			height: 40px;
			line-height: 36px;
			color:#fff;
			font-size: 20px;
			background-color: #2b5987;
			border-radius: 5px;
			text-decoration: none;
		}
		.div_err{
            color: grey;
	    }
	</style>
</head>
<body>
<div class="container">
    <div id="errorImg">
        <img src="/images/403.png"/>
    </div>
    <p><h1>非常抱歉，系统开小差了...<span th:text="${status}"></span></h1></p>
    <div class="div_err" th:text="${#dates.format(timestamp,'yyyy-MM-dd HH:mm:ss')}"></div>
    <div class="div_err" th:text="${message}"></div>
    <div class="div_err" th:text="${error}"></div>
    <!--<a href="javascript:;" class="btn" onclick="goback()">返回</a>-->
</div>
<script>
	<!--function goback(){
		window.location.href = window.location.origin + '/login/login';
	}-->
	</script>
</body>
</html>